@charset "utf-8";

*:focus {
    outline: 0px;
}


$primary: #ee6711;
$card-radius: 0.3rem;

@import "../../node_modules/bulma/bulma.sass";
@import "../../node_modules/bulma-carousel/src/sass/index.sass";