@charset "utf-8";

*:focus {
    outline: 0px;
}


.productsCategoryHero {
    background-size: cover;
    background-position: 50% 50%;
}

.hero-carousel p {
    text-shadow: 0px 2px 6px black;
}

.logoCochito {
    margin-bottom: -3rem;
    margin-top: -11.5rem
}
@media only screen and (min-width: 768px) {
    .logoCochito {
        margin-bottom: -3rem;
        margin-top: -10rem
    }
}

// 700 >
@media only screen and (max-width: 350px){
    .hero-carousel .container {
        margin-top: 0.8rem;
        align-self: flex-start;
    }
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

$primary: #ee6711;
$card-radius: 0.3rem;

@import "../../node_modules/bulma/bulma.sass";
@import "../../node_modules/bulma-carousel/src/sass/index.sass";